.rectangle-button {
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #DDDDDD;
  width: 230px;
  height: 34px;
  border-radius: 8px;
  color: #081A51;
  line-height: 20px;
}
.rectangle-button:focus {
    background: #30DA88;          
    color: white;
}
// .active {
//   background-color: #30DA88!;          
//   color: white;
// }