.navigation-style {
  width: 18%;
  background-color: #081a51;
  color: white;
}
.nav-item .nav-link {
  color: white;
}
.new-btn {
  position: absolute;
  right: -8%;
  background: #ffffff;
  border: 1px solid #dadada;
  color:#30DA88;
  border-radius: 50%;
  padding: 6px;
    
}
mat-icon {
    margin-left: 6px;
    vertical-align:middle;
  }

